@media print {
  .journal-backlinks {
    display: none;
  }
}

.backlinkBox {
  max-height:100%;
  overflow-y: scroll;
}

.backlinkBox .backlink {
  background-color: transparent;
  border: none;
  color:#ffffff;
  
}